<div class="standard-form">
    <fieldset>
        <legend>Test2</legend>
        
    </fieldset>

    <fieldset>
        <legend>Test2</legend>
        
    </fieldset>

    <footer class="form-footer">
        <button type="submit">
            <i class="fas fa-save"></i>
            <label>Save</label>
        </button>
    </footer>
</div>
